# WARNING: Please ensure that any packages listed here do not overlap with
#          the payloads requirements.
# for interacting with snap
snap-helpers @ git+https://github.com/albertodonato/snap-helpers
jinja2

netifaces
pydantic

cryptography==41.0.7

# matched to caracal cloud-archive
pyroute2==0.7.11

click
